body {
    padding: 0;
    margin: 0;
}

.main-container {
    font-family: 'Montserrat', sans-serif;
    color: white; 
    display: block;
    padding: 25px;
    margin: 0 auto;
    margin-top: 5%;
    width: 20%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    background-image: linear-gradient(#75ace0, #855ee0, #bd10e0);
    border-radius: 4px; 
    z-index: 999;
    text-align: center;
}

.logo-container {
    display: inline-block;
    width: 100%;
    margin-bottom: 35px;
}

.logo-container.form {
	margin-bottom: 0;
}

.logo {
    width: 300px;
}

.button-container {
   margin-bottom: 10px;
}

.button {
    display: block;
    background: #00000061;
    outline: none;
    border: none;
    color: inherit;
    font-family: inherit;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    border-radius: 4px;
    height: 56px;
    margin: 0 auto;
    margin-bottom: 12px;
    font-size: 19px;
    font-weight: bold;
    width: 235px;
}

.button:hover {
    background: #00000098;
    transition: ease-in-out 150ms;
    cursor: pointer;
}

.button.cancel:hover {
	background-color: #8a000098;
}

.button.submit {
	margin-right: 25px;
}

.button.submit:hover {
	background-color: #0aa20098;
}

.button.form {
	display: inline-block;
    height: 45px;
    font-size: 16px;
    width: 40%;
    line-height: 45px;
    text-decoration: none;
}

.form {
	width: 100%;
	margin-bottom: 0;
    // text-align: left;
   // padding-left: 75px;
   // padding-right: 75px;
    // display: none;
}

.form-section {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.form-section.bottom {
	margin-bottom: 30px;
}

.form-label {
    font-family: inherit;
    line-height: 30px;
	display: inline-block;
    width: 100%;
    font-weight: bold;
}

.form-input {
    color: inherit;
    font-family: inherit;
    background: #00000061;
    outline: none;
    border: none;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    // padding-left: 8px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}