<html>
	<head>
		<link rel="stylesheet" href="../static/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<title>Assign to Room</title>
		<!-- <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script> -->
	</head>
	<body>
		<div class="main-container">
			<div class="logo-container form">
				<img src="../static/roomi_logo.png" alt="roomi_logo" class="logo">
			</div>
			<h2>Assign to Room</h2>
			<form action="" class="form">
				<div class="form-section">
				  <label class="form-label" for="Name">Name</label>
				  <input class="form-input" type="text" maxlength="16">
				</div>
				<div class="form-section bottom">
				  <label class="form-label" for="Access Level">Access Level (0-5)</label>
				  <input class="form-input" type="text" maxlength="1">
				</div>
				<div class="button-container">
					<button class="button form submit" type="submit">Add</button>
					<button class="button form cancel">Cancel</button>
				</div>
			</form>
		</div>
	</body>
</html>